
.user-main {
    background-color: var(--background-dark, black);
    height: calc(98vh - (64px + 82px));
    padding-bottom: 32px;
    overflow: auto;
    &__alert{
        color: white;
    }
    &__header {
        &.edit-form{
            width: fit-content;
            padding: 32px;
            padding-top: 0;
            margin: 32px auto;
            color: var(--text-color, black);
            background-color: var(--background, white);
            & h2 {
                margin: 32px auto;
            }
            @media screen and (max-width: 768px) {
                width: 80%;
                padding: 16px;
                padding-top: 0;
                & h2 {
                    margin: 16px auto;
                }
            }
        }
        color: var(--text-color-dark, white);
        display: flex;
        flex-direction: column;
        align-items: center;
        & h2 {            
            font-size: 2rem;
        }
        & .button {
            font-size: 0.8333rem;
            padding: 10px;
            font-weight: bold;
            box-shadow: none;
        }
        margin-bottom: 32px;
    }
    &__accounts {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
    }
}

