
:root {
    --text-color: #2c3e50;
    
    --background: #ffffff;
    --background-dark: #12002b;
    --primary: #005834;
    --primary-dimm: #48b386c7;
    --primary-light: #00bc77;
    --secondary: #ccc;
}