
.feature {
    box-sizing: content-box;
    flex: 1;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__icon {
        box-sizing: content-box;
        width: 100px;
        border: 10px solid #00bc77;
        border-radius: 50%;
        padding: 1rem;
    }
    &__title {
        color: #222;
        font-size: 1.25em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    &__text {
        margin: 16px 0;
    }
}